<div class="navbar nav_title" style="border: 0;">

<%= link_to(admins_top_path(), class: 'site_title', method: :get) do %>
  <i class="fa fa-home"></i>
    ○○保育園
  <% end %>
</div>




<div class="clearfix"></div>

<br />

<!-- sidebar menu -->
  <%= render partial: 'layouts/shared/sidebar' %>
<!-- /sidebar menu -->
