<div class="navbar nav_title" style="border: 0;">
  <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>○○保育園</span></a>
</div>

<div class="clearfix"></div>

<br />

<!-- sidebar menu -->
  <%= render partial: 'layouts/shared/sidebar' %>
<!-- /sidebar menu -->
