<div class="navbar nav_title" style="border: 0;">
  <a class="header__menu header__logo" href="/">
      <%= image_tag 'childs.png', class: "header__icon" %>
      <span class="header__title">くれよん保育園</span>
  </a>
</div>