<div class="col-md-12">
<div class="x_panel">
<div class="x_title">
<h2>連絡帳一覧<small>テーブルをクリックして詳細へ</small></h2>
<div class="clearfix"></div>
</div>
<div class="x_content">
<table class="table table-striped">
<thead>
<tr>
<th>クラス</th>
<th>名前</th>
<th>年齢</th>
</tr>
</thead>
<tbody>
<% @users.each do |user| %>
<tr onclick='window.location="<%= '/admins/' + user.id.to_s + '/admin_notes' %>"' role="link" class="cursor">
<td><%= user.affiliation.affiliation_name %>クラス</td>
<td><%= link_to user.last_name + user.first_name, admin_admin_notes_path(user)%></td>
<td><%= user.age %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>
</div>
