<h1>ここはUserのTopページです</h1>
<div>
  <%= link_to '食事管理', meals_path %>
</div>
<div>
  <%= link_to '連絡帳作成ページ', new_user_note_path %>
</div>

<h1>今日の保育園での様子</h1>
<p>今日のご飯</p>
<p>排泄回数</p>
<p>睡眠時間</p>
<p>体温</p>


<h1>保育士からのコメント</h1>
<p>写真とメッセージ</p>


<h1>カレンダーをクリックすると連絡帳の詳細へ飛ぶ</h1>
  <%= link_to '連絡帳', user_notes_path %>
