<div class="page-title">
  <div class="title_left">
    <h3>お知らせ一覧</h3>
  </div>
</div>


<div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <%= link_to("新規登録", new_news_path(), { class: "btn btn-success"}) %>
        </ul>
        <h2>保護者に伝えているお知らせ</h2>
        <div class="clearfix"></div>
      </div>
      <% @news.each do |news| %>
        <div class="x_content">
          <ul class="list-unstyled timeline">
            <div class="block">
              <div class="tags">
                <!--<a class="tag">-->
                <% news.affiliation.each  do |affiliation| %>
                  <%= affiliation.affiliation_name %></br>
                <% end %>
              </div>
              <div class="block_content">
                <h2 class="title">
                  <%= link_to get_date(news.creation_date), news_path(news) %>
                </h2>
                  </br>
                <p><%= news.message%></p>
              </div>
            </div>
          </ul>
        </div>
      <% end %>
    </div>
</div>
