<h1>お知らせ一覧</h1>
<% @news.each do |news| %>
<div>
<!--1:N-->
<% news.affiliation.each do |affiliation| %>
  <p><%= affiliation.affiliation_name%></p>
<% end %>

<p><%= news.message%></p>
<p><%= link_to news.creation_date, news_path(news)%></p>

<% end %>

<p><%= link_to '新規登録', new_news_path() %></p>
</div>