/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "gentelella";
@import "gentelella-custom";


.cursor {
  cursor: pointer;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  justify-content: center;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

#paginatecenter {
  text-align:　center;
}

.pagination {
  justify-content: center;
}

.header__logo {
    display: flex;
    margin: auto;
}
.header__menu {
    padding-top: 15px;
    padding-left: 20px;
}
.header__icon {
    width: 32px;
    height: 32px;
}

.header__title {
    align-items: center;
    letter-spacing: .15px;
    line-height: 24px;
    padding: 7px 8px 0 12px;
    margin: 0;

    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    display: block;
    height: 55px;
}


.text_
.calendar_form{
  width:30%;
}

@media (max-width: 400px) {
.calendar_form{
  width:100%;
  }
}



.h2_tag {
  font-size: 10px;
	display: inline-block;
	margin: 0 .1em .6em 0;
	padding: .6em;
	line-height: 1;
	text-decoration: none;
	color: #169F85;
	background-color: #fff;
	border: 1px solid #169F85;
	border-radius: 2em;
}

.margin_top7{
  margin-top:7px;
}

.staple_food,
.main_dish,
.side_dish,
.soup,
.fruit{
    background-color: #fff !important;
}

.staple_food{
    border-left: 5px solid red !important;
    border-color:red;
}
.main_dish{
    border-left: 5px solid skyblue !important;
    border-color:skyblue !important;
}
.side_dish{
    border-left: 5px solid gold !important;
    border-color:gold !important;
}
.fruit{
    border-left: 5px solid grey !important;
    border-color:grey !important;
}
.soup{
    border-left: 5px solid #99ff99 !important;
    border-color: #99ff99 !important;
}