<!DOCTYPE html>
<html lang="en">
  <head>
      <%= render partial: 'layouts/head' %>
  </head>

  <body class="login">

        <!-- page content -->
        <div class="" role="main">
          <%= yield %>
        </div>
        <!-- /page content -->

    <%= javascript_include_tag 'application' %>
  </body>
</html>
